.bkbg-timeline-wrap { box-sizing: border-box; }
.bkbg-timeline-title {
    margin: 0 0 .6em;
    font-family: var(--bktlc-tt-font-family, inherit);
    font-size: var(--bktlc-tt-font-size-d, 1.05em);
    font-weight: var(--bktlc-tt-font-weight, 600);
    font-style: var(--bktlc-tt-font-style, normal);
    line-height: var(--bktlc-tt-line-height-d, 1.3);
    text-decoration: var(--bktlc-tt-text-decoration, none);
    text-transform: var(--bktlc-tt-text-transform, none);
    letter-spacing: var(--bktlc-tt-letter-spacing-d, normal);
    word-spacing: var(--bktlc-tt-word-spacing-d, normal);
}
.bkbg-timeline-wrap h3.bkbg-timeline-title {
    font-family: var(--bktlc-tt-font-family, inherit);
    font-size: var(--bktlc-tt-font-size-d, 1.05em);
    font-weight: var(--bktlc-tt-font-weight, 600);
    font-style: var(--bktlc-tt-font-style, normal);
    line-height: var(--bktlc-tt-line-height-d, 1.3);
    text-decoration: var(--bktlc-tt-text-decoration, none);
    text-transform: var(--bktlc-tt-text-transform, none);
    letter-spacing: var(--bktlc-tt-letter-spacing-d, normal);
    word-spacing: var(--bktlc-tt-word-spacing-d, normal);
}
@media(max-width:1024px){
    .bkbg-timeline-wrap .bkbg-timeline-title{font-size:var(--bktlc-tt-font-size-t,var(--bktlc-tt-font-size-d,1.05em));line-height:var(--bktlc-tt-line-height-t,var(--bktlc-tt-line-height-d,1.3));letter-spacing:var(--bktlc-tt-letter-spacing-t,var(--bktlc-tt-letter-spacing-d,normal));word-spacing:var(--bktlc-tt-word-spacing-t,var(--bktlc-tt-word-spacing-d,normal))}
}
@media(max-width:767px){
    .bkbg-timeline-wrap .bkbg-timeline-title{font-size:var(--bktlc-tt-font-size-m,var(--bktlc-tt-font-size-t,var(--bktlc-tt-font-size-d,1.05em)));line-height:var(--bktlc-tt-line-height-m,var(--bktlc-tt-line-height-t,var(--bktlc-tt-line-height-d,1.3)));letter-spacing:var(--bktlc-tt-letter-spacing-m,var(--bktlc-tt-letter-spacing-t,var(--bktlc-tt-letter-spacing-d,normal)));word-spacing:var(--bktlc-tt-word-spacing-m,var(--bktlc-tt-word-spacing-t,var(--bktlc-tt-word-spacing-d,normal)))}
}
.bkbg-timeline-svg svg { display: block; }
